version: '3.8'

services:
  influxdb:
    image: influxdb:2.7
    container_name: influxdb_sat
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2

  grafana:
    image: grafana/grafana:latest
    container_name: grafana_sat
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_PANELS_DISABLE_SANITIZE_HTML=true
      - GF_DASHBOARDS_MIN_REFRESH_INTERVAL=100ms
    depends_on:
      - influxdb

volumes:
  influxdb_data:
  grafana_data: